package mdi

var {{.meta.Name | PascalCase}} = Icon {
	id:         "{{.meta.ID}}",
	baseIconID: "{{.meta.BaseIconID}}",
	name:       "{{.meta.Name}}",
	tags:       []string{{"{"}}{{.meta.Tags | StringsToString}}{{"}"}},
	author:     "{{.meta.Author}}",
	version:    "{{.meta.Version}}",
	deprecated: {{.meta.Deprecated}},
	content:    []byte{{"{"}}{{.meta.Data | BytesToString}}{{"}"}},
}